<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>

<header th:replace="fragments/header"/>

<main>
    <section class="content">
        <h2>Создать/Обновить жанр</h2>
        <form th:action="@{/genres/createUpdate}"
              th:method="post"
              th:object="${form}"
              class="form">
            <div class="field">
                <label class="form-label" for="name">Name</label>
                <input th:field="*{name}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="name"/>
            </div>

            <div class="field">
                <label class="form-label" for="description">Description</label>
                <input th:field="*{description}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="description"/>
            </div>

            <div class="field">
                <label class="form-label" for="genreId">Genre ID</label>
                <input th:field="*{genreId}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="genreId"/>
            </div>
            <button type="submit" class="order-button">Подтвердить</button>
            <div class="error-message">
                <small th:if="${#fields.hasGlobalErrors()}"
                       th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}"
                       class="text-danger"></small>
            </div>
        </form>
    </section>
</main>

<footer th:replace="fragments/footer"/>

</body>
</html>
