<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>

<header th:replace="fragments/header"/>

<main>
    <section class="content">
        <h2>Создать пользователя</h2>
        <form th:action="@{/users/create}"
              th:method="post"
              th:object="${form}"
              class="form">
            <div class="field">
                <label class="form-label" for="firstName">First Name</label>
                <input th:field="*{firstName}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="firstName"/>
            </div>

            <div class="field">
                <label class="form-label" for="lastName">Last Name</label>
                <input th:field="*{lastName}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="lastName"/>
            </div>

            <div class="field">
                <label class="form-label" for="picUri">PicUri</label>
                <input th:field="*{picUri}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="picUri"/>
            </div>

            <div class="field">
                <label class="form-label" for="dateOfBirthday">Date-Of-Birthday</label>
                <input th:field="*{dateOfBirthday}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="dateOfBirthday"/>
            </div>

            <div class="field">
                <label class="form-label" for="role">Role</label>
                <input th:field="*{role}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="role"/>
            </div>

            <div class="field">
                <label class="form-label" for="email">Email</label>
                <input th:field="*{email}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="email"/>
            </div>

            <div class="field">
                <label class="form-label" for="password">Password</label>
                <input th:field="*{password}"
                       th:errorclass="is-invalid"
                       type="text"
                       class="form-control text-center"
                       id="password"/>
            </div>
            <button type="submit" class="order-button">Создать</button>
            <div class="error-message">
                <small th:if="${#fields.hasGlobalErrors()}"
                       th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}"
                       class="text-danger"></small>
            </div>
        </form>
    </section>
</main>

<footer th:replace="fragments/footer"/>

</body>
</html>
